<% title 'My Projects' %>

<div class="clearfix">
  <section id="left-column" class="large-4 columns">
    <div class="profile-overview">
      <h3>Logan Fisher</h3>
      <h6>UI Designer / Frontend Developer</h6>
      <a href="#" data-dropdown="drop2">Bio</a>
      <ul id="drop2" class="f-dropdown content" data-dropdown-content>
        <li><p><%= @user.bio %></p></li>
      </ul>
      <%= image_tag 'profile-image.jpg' %>

    </div>
    <div class="large-12 columns">
      <h4>Professional Goal</h4>
      <p>To obtain a position with a progressive web development company with a strong focus on creativity and problem solving. To find a position that is challenging, rewarding and provides an opportunity to expand my knowledge and abilities in creating client centric solutions.</p>
      <h4>Specialties</h4>
      <ul>
        <li><strong>Responsive Design & Development</strong></li>
        <li><strong>Ruby on Rails Frontend and Backend Development</strong></li>
        <li><strong>HTML5, CSS3 and Javascript Development</strong></li>
        <li><strong>Project Management</strong></li>
        <li><strong>SEO and Analytics</strong></li>
        <li><strong>Social Networking Integration</strong></li>
      </ul>
    </div>

  </section>
  <section id="main-column" class="large-8 columns">
    <ul id="project-container" class="small-block-grid-1 large-block-grid-3">
      <% @projects.each do |project| %>
        <li>
          <div class="padding">
            <div class="row">
              <% if user_signed_in? && current_user.email == 'logan@themediaside.com' %>
                <%= link_to 'Edit', edit_project_path(project), :class => 'button tiny large-6 columns' %>
                <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button tiny large-6 columns' %>
              <% end %>
            </div>
            <h5><%= project.name %></h5>
            <h6>Employer: <%= project.employer %></h6>
            <% project.tags.each do |tag| %>
              <span class="label"><%= tag.name %></span>
            <% end %>
            <div class="project-image-wrapper">
              <div class="show-for-medium">
                <%= image_tag project.page_main_image.url(:medium)  %>
              </div>
              <div class="show-for-large">
                <%= image_tag project.hero_image.url(:thumb) %>
              </div>
              <div class="show-for-small">
                <%= image_tag project.hero_image.url(:thumb) %>
              </div>

            </div>

            <sup>Technologies</sup><br>
            <% project.categories.each do |category| %>
              <span class="label"><%= category.name %></span>
            <% end %>
            <p><%= project.description %></p>
            <%= link_to 'Visit project', project, :class => 'secondary tiny button' %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>


