<% title 'My Projects' %>

<div class="clearfix">
  <section id="left-column" class="large-4 hide-for-medium-down columns">
    <div class="profile-overview clearfix">
      <div class="small-3 columns">
        <%= image_tag 'profile-image.jpg' %>
      </div>
      <div class="small-9 columns">
        <h3>Logan Fisher</h3>
        <h6>UI Designer / Frontend Developer</h6>
        <a href="#" data-dropdown="drop2">Bio</a>
        <ul id="drop2" class="f-dropdown content" data-dropdown-content>
          <li><p><%= @user.bio %></p></li>
        </ul>
      </div>
    </div>
    <div class="large-12 columns">
      <h4>Professional Goal</h4>
      <p>To obtain a position with a progressive web development company with a strong focus on creativity and problem solving. To find a position that is challenging, rewarding and provides an opportunity to expand my knowledge and abilities in creating client centric solutions.</p>
      <h4>Specialties</h4>
      <ul>
        <li><strong>Responsive Design & Development</strong></li>
        <li><strong>Ruby on Rails Frontend and Backend Development</strong></li>
        <li><strong>HTML5, CSS3 and Javascript Development</strong></li>
        <li><strong>Project Management</strong></li>
        <li><strong>SEO and Analytics</strong></li>
        <li><strong>Social Networking Integration</strong></li>
      </ul>
    </div>
  </section>
  <section id="main-column" class="large-8 small-12 columns">
    <div id="container">
      <% @projects.each do |project| %>
      <div class="item">
        <div class="padding">
          <div class="row">
            <% if user_signed_in? && current_user.email == 'logan@themediaside.com' %>
              <%= link_to 'Edit', edit_project_path(project), :class => 'button tiny large-6 columns' %>
              <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button tiny large-6 columns' %>
            <% end %>
          </div>
          <div class="project-image-wrapper">
            <div class="show-for-medium">
              <%= link_to(image_tag(project.page_main_image.url(:medium)), project)  %>
            </div>
            <div class="show-for-large-up">
              <%= link_to(image_tag(project.hero_image.url(:thumb)), project) %>
            </div>
            <div class="show-for-small">
              <%= link_to(image_tag(project.hero_image.url(:thumb)), project) %>
            </div>
          </div>
          <div class="description clearfix">
            <p class="left"><%= project.name %></p>
            <% project.tags.each do |tag| %>
              <span class="label right"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>


