<% title @project.name %>

<p id="notice"><%= notice %></p>
<div id="project" class="large-12 columns">
  <div class="large-8 columns">
    <div class="show-for-small-only">
      <%= image_tag @project.hero_image.url(:thumb) %>
    </div>
    <div class="hide-for-small-only">
      <%= image_tag @project.page_main_image.url(:medium) %>
    </div>
  </div>
  <div class="right-column large-4 columns">
    <h3><%= @project.name %></h3>
    <h6>Employer: <%= @project.employer %></h6>
    <p><%= @project.description %></p>
    <h5>Technologies</h5>
    <% @project.categories.each do |category| %>
      <span class="label"><%= category.name %></span>
    <% end %>
    <h5>Tags</h5>
    <% @project.tags.each do |tag| %>
      <span class="label"><%= tag.name %></span>
    <% end %>
    <div class="large-4 small-4 columns small-centered large-centered">
      <%= image_tag('background-logo.jpg')%>
    </div>
  </div>
</div>

<div class="all-projects-wrapper hide-for-small clearfix">
  <div class="large-12 columns"><h4>Other projects</h4></div>
  <ul class="large-12 columns all-projects">
    <% @projects.each do |project| %>
      <li class="large-2 columns">
        <%= link_to( image_tag(project.hero_image.url(:thumb)), project) %>
      </li>
    <% end %>
  </ul>
</div>



<ul class="admin button-group">
  <% if user_signed_in? && current_user.email == 'logan@themediaside.com' %>
    <li class="large-6 small-6 columns"><%= link_to 'Edit', edit_project_path(@project), :class => 'button tiny small-12 columns' %></li>
  <% end %>
  <li class="large-6 small-6 columns"><%= link_to 'Back', projects_path, :class => 'button tiny small-12 columns' %></li>
</ul>
