<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "My Projects" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if yield(:title) == 'My Projects' && user_signed_in? %>
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to(image_tag('logo.png'), projects_path) %></li>
            <li>
              <%= link_to('New Project', new_project_path) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <li>
              <%= link_to('Edit Account', edit_user_registration_path) %>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>
  <% end %>

  <nav class="tab-bar hide-for-medium-down">
    <section class="left-small"><%= link_to(image_tag('logo.png'), projects_path) %></section>
    <section class="right">
      <a href="https://twitter.com/loganbfisher" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow me! @loganbfisher</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
  </nav>

  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <nav class="tab-bar show-for-medium-down">
        <section class="left-small"><a class="left-off-canvas-toggle" ><%= image_tag 'profile-image.jpg' %></a></section>
        <section class="right tab-bar-section"><a href="#" class="left-off-canvas-toggle"><h6 class="left">About me</h6></a></section>
      </nav>


      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu show-for-medium-down">
        <!-- whatever you want goes here -->
        <ul class="off-canvas-list">
          <li>
            <div class="profile-overview clearfix">
              <div class="small-3 columns">
                <%= image_tag 'profile-image.jpg' %>
              </div>
              <div class="small-9 columns">
                <h3>Logan Fisher</h3>
                <h6>UI Designer / Frontend Developer</h6>
                <a href="#" data-dropdown="drop2">Bio</a>
                <ul id="drop2" class="f-dropdown content" data-dropdown-content>
                  <li><p><%= @user.bio %></p></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="large-12 columns">
              <h4>Professional Goal</h4>
              <p>To obtain a position with a progressive web development company with a strong focus on creativity and problem solving. To find a position that is challenging, rewarding and provides an opportunity to expand my knowledge and abilities in creating client centric solutions.</p>
              <h4>Specialties</h4>
              <ul>
                <li><strong>Responsive Design & Development</strong></li>
                <li><strong>Ruby on Rails Frontend and Backend Development</strong></li>
                <li><strong>HTML5, CSS3 and Javascript Development</strong></li>
                <li><strong>Project Management</strong></li>
                <li><strong>SEO and Analytics</strong></li>
                <li><strong>Social Networking Integration</strong></li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>

      <!-- main content goes here -->
      <%= yield %>
      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

    </div>
  </div>


  <%= javascript_include_tag "application" %>
  </body>
</html>